*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans',sans-serif;
}
.image-box{
    width: 300px;
    height: 200px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}


.image-box.cutLeftRight .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    color: #ffffff;
    padding: 10px;
}
.image-box.cutLeftRight .image::before,
.image-box.cutLeftRight .image::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(0);
    transition: 1s;
}
.image-box.cutLeftRight .image::before{
    left: 0;
    top: 0;
    background: url(placeholder-left.png);
    background-position: right center;
    background-size: cover;
}
.image-box.cutLeftRight .image::after{
    right: 0;
    top: 0;
    background: url(placeholder-right.png);
    background-position: left center;
    background-size: cover;
}
.image-box.cutLeftRight:hover .image::before{
    transform: translateX(-150px);
}
.image-box.cutLeftRight:hover .image::after{
    transform: translateX(150px);
}




.image-box.cutCross{
    width: 300px;
    height: 200px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.image-box.cutCross .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    color: #ffffff;
    padding: 10px;
}
.image-box.cutCross .image::before,
.image-box.cutCross .image::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(0);
    transition: 1s;
}
.image-box.cutCross .image::before{
    left: 0;
    top: 0;
    background: url(placeholder-left.png);
    background-position: right center;
    background-size: cover;
}
.image-box.cutCross .image::after{
    right: 0;
    top: 0;
    background: url(placeholder-right.png);
    background-position: left center;
    background-size: cover;
}
.image-box.cutCross:hover .image::before{
    transform: translateX(300px);
}
.image-box.cutCross:hover .image::after{
    transform: translateX(-300px);
}




.image-box.cutUpDown{
    width: 300px;
    height: 200px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.image-box.cutUpDown .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    color: #ffffff;
    padding: 10px;
}
.image-box.cutUpDown .image::before,
.image-box.cutUpDown .image::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(0);
    transition: 1s;
}
.image-box.cutUpDown .image::before{
    left: 0;
    top: 0;
    background: url(placeholder-left.png);
    background-position: right center;
    background-size: cover;
}
.image-box.cutUpDown .image::after{
    right: 0;
    top: 0;
    background: url(placeholder-right.png);
    background-position: left center;
    background-size: cover;
}
.image-box.cutUpDown:hover .image::before{
    transform: translateY(-200px);
}
.image-box.cutUpDown:hover .image::after{
    transform: translateY(200px);
}




.image-box.cutDown{
    width: 300px;
    height: 200px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.image-box.cutDown .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    color: #ffffff;
    padding: 10px;
}
.image-box.cutDown .image::before,
.image-box.cutDown .image::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(0);
    transition: 1s;
}
.image-box.cutDown .image::before{
    left: 0;
    top: 0;
    background: url(placeholder-left.png);
    background-position: right center;
    background-size: cover;
}
.image-box.cutDown .image::after{
    right: 0;
    top: 0;
    background: url(placeholder-right.png);
    background-position: left center;
    background-size: cover;
}
.image-box.cutDown:hover .image::before{
    transform: translate(-200px, 200px);
}
.image-box.cutDown:hover .image::after{
    transform: translate(200px, 200px);
}



.image-box.cutRotate{
    width: 300px;
    height: 200px;
    background: #ffffff;
    overflow: hidden;
    position: relative;
}
.image-box.cutRotate .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    color: #ffffff;
    padding: 10px;
}
.image-box.cutRotate .image::before,
.image-box.cutRotate .image::after{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    transform: translateX(0);
    transition: 1s;
}
.image-box.cutRotate .image::before{
    left: 0;
    top: 0;
    background: url(placeholder-left.png);
    background-position: right center;
    background-size: cover;
    transform-origin: left top;
}
.image-box.cutRotate .image::after{
    right: 0;
    top: 0;
    background: url(placeholder-right.png);
    background-position: left center;
    background-size: cover;
    transform-origin: right top;
}
.image-box.cutRotate:hover .image::before{
    transform: rotate(-200deg);
}
.image-box.cutRotate:hover .image::after{
    transform: rotate(200deg);
}